@font-face {
   font-family: 'Circular-Italic-Medium';
   src: url('/public/fonts/CircularStd-MediumItalic.eot');
   src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
      url('/public/fonts/CircularStd-MediumItalic.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
      url('/public/fonts/CircularStd-MediumItalic.woff') format('woff'),
      url('/public/fonts/CircularStd-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Circular Black';
   src: url('/public/fonts/CircularStd-Black.eot');
   src: local('Circular Std Black'), local('CircularStd-Black'),
      url('/public/fonts/CircularStd-Black.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-Black.woff2') format('woff2'),
      url('/public/fonts/CircularStd-Black.woff') format('woff'),
      url('/public/fonts/CircularStd-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Circular Std';
   src: url('/public/fonts/CircularStd-Medium.eot');
   src: local('Circular Std Medium'), local('CircularStd-Medium'),
      url('/public/fonts/CircularStd-Medium.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-Medium.woff2') format('woff2'),
      url('/public/fonts/CircularStd-Medium.woff') format('woff'),
      url('/public/fonts/CircularStd-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Circular Bold';
   src: url('/public/fonts/CircularStd-Bold.eot');
   src: local('Circular Std Bold'), local('CircularStd-Bold'),
      url('/public/fonts/CircularStd-Bold.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-Bold.woff2') format('woff2'),
      url('/public/fonts/CircularStd-Bold.woff') format('woff'),
      url('/public/fonts/CircularStd-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Circular Std';
   src: url('/public/fonts/CircularStd-BlackItalic.eot');
   src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
      url('/public/fonts/CircularStd-BlackItalic.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
      url('/public/fonts/CircularStd-BlackItalic.woff') format('woff'),
      url('/public/fonts/CircularStd-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
}

@font-face {
   font-family: 'Circular Std Book';
   src: url('/public/fonts/CircularStd-BookItalic.eot');
   src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
      url('/public/fonts/CircularStd-BookItalic.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-BookItalic.woff2') format('woff2'),
      url('/public/fonts/CircularStd-BookItalic.woff') format('woff'),
      url('/public/fonts/CircularStd-BookItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Circular Std';
   src: url('/public/fonts/CircularStd-BoldItalic.eot');
   src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
      url('/public/fonts/CircularStd-BoldItalic.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
      url('/public/fonts/CircularStd-BoldItalic.woff') format('woff'),
      url('/public/fonts/CircularStd-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Circular Regular';
   src: url('/public/fonts/CircularStd-Book.eot');
   src: local('Circular Std Book'), local('CircularStd-Book'),
      url('/public/fonts/CircularStd-Book.eot?#iefix')
         format('embedded-opentype'),
      url('/public/fonts/CircularStd-Book.woff2') format('woff2'),
      url('/public/fonts/CircularStd-Book.woff') format('woff'),
      url('/public/fonts/CircularStd-Book.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
